{% extends 'sub_base.html' %}

{% block content %}
<div class="container my-3">

    <div class="row">
        <div class="col-4">
            <h4>로그인</h4>
        </div>
        <div>
            <span>또는 <a href="{% url 'edu:signup' %}"> 계정을 만드세요. </a></span>
        </div>
    </div>

    <form action="{% url 'edu:login' %}" method="post">
        {% csrf_token %}
        {% include './form_errors.html' %}
        <div>
            <label for="username">사용자ID</label>
            <input type="text" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <button type="submit">로그인</button>
    </form>

</div>
{% endblock %}

