{% extends 'sub_base.html' %}
{% load edu_filter %}

{% block content %}

{% if user.is_authenticated %}
<a class="nav-link" href="{% url 'edu:logout' %}"> {{ user.username }} (로그아웃)</a>
{% else %}}
<a class="nav-link" href="{% url 'edu:login' %}">로그인</a>
{% endif %}

<h1>질문 목록입니다.</h1>

<div class="container my-3">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr>
            <td>
                <!-- 번호 : 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1}}
            </td>
            <td>
                <a href="{% url 'edu:detail' question.id "> {{ question.subject }}</a>
                {% if question.answer_set.count > 0 %}
                <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
                {% endif %}
            </td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3"> 질문 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<!-- 페이징 처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전 페이지  -->
    {% if question_list.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
    </li>
    {% endif %}

    <!--  페이지 리스트  -->
    {% for page_number in question_list.paginator.page_range %}
    {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
    {% if page_number == question_list.number %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}

    <!--  다음 페이지지  -->
    {% if question_list.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
    </li>
    {% else %}}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">다음</a>
    </li>
    {% endif %}
</ul>
<!-- 페이징 처리 시작 -->

<a href="{% url 'edu:question_create' %}">질문 등록</a>

{% endblock %}








