{% extends 'sub_base.html' %}

{% block content %}

<div>
    <h5>질문 등록</h5>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">저장하기</button>
    </form>
</div>

{% endblock %}