{% extends 'sub_base.html' %}

{% block content %}

<h1>질문 제목과 내용입니다.</h1>

<h2>제목 : {{ question.subject }}</h2>

<div>
    내용 : {{ question.content}}
</div>

<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
<div>
    <ul>
        {% for answer in question.answer_set.all %}
            <li>{{ answer.content }}</li>
        {% endfor %}
    </ul>
</div>


<form action="{% url 'edu:answer_create' question.id %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="10"></textarea>
    <input type="submit" value="답변 등록">
</form>

{% endblock %}








