<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>서브 페이지 템플릿</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
상단 영역입니다. <br>
변경되었습니다.
<hr>

{% block content %}
{% endblock %}

<hr>
하단 영역입니다.
</body>
</html>